body {
    margin: auto;
    text-align: center;
    background: LightCyan; 
}

form, table {
    max-width: 300px;
    margin: auto;
}

.error {
    color: var(--danger, Tomato);
}

[att^=h] {
    color:rgb(100, 106, 222);
}

p {
    color:rgb(2, 6, 79);
}

selection-puzzle::part(choice) {
    background-color: Silver; 
}

selection-puzzle::part(choice-found), [found] {
    background-color: gold;
}

selection-puzzle::part(choice-correct), [correct] {
    background-color: MediumSeaGreen;
}

selection-puzzle:not(:defined) {
    display: none;
}

selection-puzzle button[slot="option"] {
    animation-duration: 1s;
    animation-timing-function: linear;
}

selection-puzzle button[slot="option"]:enabled {
    animation-name: flipback;
}

selection-puzzle button[slot="option"]:disabled {
    animation-name: flip;
}
@keyframes flip {
    0% { transform: rotateX(0deg); }
    50% { transform: rotateX(90deg); }
    100% { transform: rotateX(0deg); }
}

@keyframes flipback {
    0% { transform: rotateX(0deg); }
    50% { transform: rotateX(-90deg); }
    100% { transform: rotateX(0deg); }
}