body {
    margin: auto;
    text-align: center;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(131, 190, 218) 100%);

}
.container
{
    max-width: 500px;
    height: 100px;
}
#puzzles {
    padding: 1em;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

selection-puzzle:not(:defined) {
    display: none;
}

selection-puzzle::part(choice) {
    color: blue;
}

selection-puzzle button[slot="option"] {
    animation-duration: 1s;
    animation-timing-function: linear;
}

selection-puzzle button[slot="option"]:enabled {
    animation-name: flipback;
}

selection-puzzle button[slot="option"]:disabled {
    animation-name: flip;
}
@keyframes flip {
    0% { transform: rotateX(0deg); }
    50% { transform: rotateX(90deg); }
    100% { transform: rotateX(0deg); }
}

@keyframes flipback {
    0% { transform: rotateX(0deg); }
    50% { transform: rotateX(-90deg); }
    100% { transform: rotateX(0deg); }
}