body {
    margin: auto;
    text-align: center;
}

#puzzles {
    display: flex;
    justify-content: center;
    --puzzle-background-found: #ffeb3b;
    --puzzle-background-correct: #4caf50;
}

