{% extends 'base.html' %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<h1>{{title}}</h1>
<form action="{{ url_for("game", id=game.id) }}" method="post">
    <input id="{{game.id}}" type="hidden" name="play" slot="input">
    <selection-puzzle id="puzzle"
        for="{{game.id}}"
        answer="{{game.word}}"
        disable-incorrect
        cache="{{game.id}}">
        {{question}}
        {% for option in options %}
        <button slot="option" data-toggle="tooltip">{{option}}</button>
        {% endfor %}
    </selection-puzzle>
</form>

<script src="{{ url_for("static", filename="selection-puzzle.js") }}" type="module"></script>
<script>
// Provide translations for each option as a tooltip
[...document.querySelectorAll('selection-puzzle [slot="option"]')]
    .map(option => fetch(`/translation/${option.textContent}`)
        .then(response => response.text())
        .then(translation => option.setAttribute("title", translation))
        .catch(console.error)
    )
</script>
{% endblock %}