{% extends 'nav.html' %}
{% block title %}
    {{title}}
{% endblock %}
{% block content %}
    <body>
        <h1>成语了</h1>
        <div id="puzzles">
            {% for puzzle in puzzles %}
            <selection-puzzle 
                answer="{{puzzle.answer}}">
                {{puzzle.question}}
                {% for option in puzzle.options %}
                <button slot="option">{{option}}</button>
                {% endfor %}
            </selection-puzzle>
            {% endfor %}
        </div>
        <script src="static/selection-puzzle.js" type="module"></script>
    </body>
{% endblock %}