{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
<form method="POST">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class=flashes>
            {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {{ form.hidden_tag() }}
    {{ form.username.label() }}
    {{ form.username(class="form-control", placeholder="User Name") }}
    {{ form.password.label() }}
    {{ form.password(class="form-control", placeholder="Password") }}
    <br/>
    {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
    <br/>
    <p><a href="{{ url_for('register') }}">{{"注册"|_|safe}}</a></p>
</form>
{% endblock %}